body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contCard{
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ececec;
    margin: 30px auto;
}

.cont-img{
  border-bottom: 1px solid rgba(236, 236, 236, 0.33);
}

.cont-img img{
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cont-excerpt{
  padding: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.form{
  padding: 30px;
  background-color: white;
  margin: 30px 0;
  border-radius: 5px;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 1px rgba(199, 194, 194, 0.82);
}